{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ car.name }}{% endblock %}

{% block tagLine %}
<span>
   My garage has over {{ cars|length *10}} cars ðŸ˜

   {# {% if numberOfCars>50 %} #}
   {% if cars|length>3 %}
   &emsp;(Thats a lot of cars !!)
   {% endif %}
</span>
{% endblock %}

{% block main %}

<div class="my-4 px-8 text-end">
   <a class="bg-white hover:bg-gray-200 rounded-xl p-2 text-black" href="{{path('app_homepage')}}">
      <svg class="inline text-black" xmlns="http://www.w3.org/2000/svg" height="16" width="14"
         viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
         <path fill="#000"
            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
      </svg>
      Back
   </a>
</div>
<div class="md:flex justify-center space-x-3 mt-5 px-4 lg:px-8">
   <div class="flex justify-center">
      <img class="max-h-[300px] md:max-h-[500px]" src="{{ asset(car.image) }}" alt="{{car.statusString}}">
   </div>
   <div class="space-y-5">

      <div class="px-8 pt-8">
         <div class="rounded-2xl py-1 px-3 flex justify-center w-32 items-center bg-amber-400/10">

            {% if (car.statusString == "inactive") %}
            <div class="rounded-full h-2 w-2 bg-red-400 blur-[1px] mr-2"></div>
            {% else %}
            <div class="rounded-full h-2 w-2 bg-green-400 blur-[1px] mr-2"></div>
            {% endif %}

            <p class="uppercase text-xs">{{ car.statusString }}</p>
         </div>

         <h1 class="text-[32px] font-semibold border-b border-white/10 pb-5 mb-5">
            {{ car.name }}
         </h1>
         <h4 class="text-xs text-slate-300 font-semibold mt-2 uppercase">Driver</h4>
         <p class="text-[22px] font-semibold">{{ car.driver }}</p>

         <h4 class="text-xs text-slate-300 font-semibold mt-2 uppercase">Car Class</h4>
         <p class="text-[22px] font-semibold">{{ car.class }}</p>

         <h4 class="text-xs text-slate-300 font-semibold mt-2 uppercase">Operational Guide</h4>
         <p class="text-[22px] font-semibold">Further info not available at this time</p>
      </div>
   </div>

</div>
</div>
{% endblock %}