{% extends 'main/main.html.twig' %}

{% block thingShow %}
<div class="px-12 pt-10 w-full">
   <h1 class="text-2xl font-semibold mb-2 ">
      Selected car: {{myCar.id}}<br>
      The <span class="text-4xl font-bold mb-8">
         &quot;{{ myCar.name|upper }}&quot;
      </span>
      {# <div class="rounded-2xl py-1 px-3 flex justify-center w-32 items-center bg-amber-400/10">
         <div class="rounded-full h-2 w-2 bg-amber-400 blur-[1px] mr-2"></div>
         <p class="uppercase text-xs text-nowrap">{{myCar.status}}</p>
      </div> #}
   </h1>

   <div class="space-y-5 ">
      <!-- start car item -->
      <a class="hover:text-slate-200" href="{{ path('app_car_view', {id: myCar.id}) }}">
         <div class="bg-[#16202A] rounded-2xl pl-5 py-5 pr-11 flex flex-col md:flex-row md:justify-between">
            <div class="flex justify-center md:justify-start">
               <div class="ml-5 h-fit">
                  <img class="h-[6rem] md:h-[4rem] w-[auto]" src="{{ asset(myCar.image) }}"
                     alt="{{myCar.statusString}}">
               </div>
            </div>
            <div class="flex justify-center md:justify-start mt-2 md:mt-0 shrink-0">
               <div class="border-0 border-white/20 pr-8">

               </div>
               <div class="pl-8 border-r border-white/20 pr-8">
                  <p class="text-slate-400 text-xs">Status</p>
                  <p class="text-xl">{{myCar.statusString}}</p>
               </div>
               <div class="pl-8 w-[200px] border-r border-white/20 pr-8">
                  <p class="text-slate-400 text-xs">Driver</p>
                  <p class="text-xl">{{myCar.driver|title}}</p>
               </div>

               <div class="pl-8 w-[100px]">
                  <p class="text-slate-400 text-xs">Class</p>
                  <p class="text-xl">{{myCar.class}}</p>
               </div>
            </div>
         </div>
      </a>
      <!-- end ship item -->

   </div>

</div>
{% endblock %}