{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - About
{% endblock %}

{% block tagLine %}

About Us
{% endblock %}

{# {% block categoryNav %}
{% endblock %} #}


{% block menuOne %}
<li class="">

    <button class="shadow rounded-[60px] py-2 px-5 bg-white/10 hover:bg-white/20 hover:text-amber-400 
          focus:outline-none">
        <a href="{{path('app_mainpage')}}" title="Home">
            ◄ Back
        </a>
    </button>

    {# <a class="rounded-[60px] py-2 px-5 bg-white/10 hover:bg-white/20 hover:text-amber-400"
        href="{{path('app_mainpage')}}" title="Home">
        ◄ Back
    </a> #}
</li>
{% endblock %}

{% block main %}

<div class="flex items-center z-50 max-h-max min-h-[72dvh] flex-col mx-[4%] m-5 p-5 bg-[rgba(0,0,0,0.8)] backdrop-blur-[10px]"
    {# style="border:1px blue solid;" #}>
    {# h-[calc(100%-20px)] #}
    <ul class="p-5 flex flex-wrap justify-center content-stretch">
        {% for i in app_info|keys %}
        <li class="p-2 m-2 backdrop-brightness-125 rounded-md">
            <div class="text-xs text-gray-400">•&nbsp;{{i}}:</div>
            <div class="text-xs">&nbsp;&nbsp;
                {% if app_info[i] %}
                {{app_info[i]}}
                {% else %}
                {{app_info[i]}}
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="flex justify-center"><img class="w-[40vw] min-w-[300px]" src="{{asset('images/LetsTalkStuff.png')}}"
            alt="LetsTalkStuff main logo">
    </div>
    <div class=" text-center text-info text-sm italic text-red-500">{{app_info.owner_copyright}} • <a class="text-sm"
            href="https://{{app_info.owner_website}}" target="_blank">{{app_info.owner_name}} •
            {{app_info.owner_website}}</a>
    </div>


</div>

{% endblock %}