{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Welcome!
{% endblock %}

{% block tagLine %}
<span>
   We have over {{ categories|length *3 }} Categories 😍
</span>
{% endblock %}

{% block categoryNav %}
{% for category in categories %}
<a class="rounded-[60px] py-2 px-5 bg-white/10 hover:bg-white/20" href="{{path('app_homepage')}}">
   {#title="{{category.category}}" #}
   {{ category.categoryString }}
</a>
{% endfor %}
{% endblock %}


{% block main %}
<div class="flex flex-col lg:flex-row ">

   <aside data-controller="closeable" class="pb-8 lg:pb-0 lg:w-[auto] shrink-0 lg:block lg:min-h-fit text-white px-8
      border-b lg:border-b-0 lg:border-r border-white/20 transition-all overflow-hidden ">
   </aside>

   <section class="w-full">
      {% block thingShow %}
      <div class=" text-2xl p-6">Please select a Category</div>
      {% endblock %}
   </section>

</div>
{% endblock %}