<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lets Talk Stuff{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%220.8em%22 font-size=%2296%22>🚘</text><text y=%221.7em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%230c0%22>vw</text></svg>">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="text-white "
    style="background: radial-gradient(60.21% 90.21% at 50% 28.75%, #03001c 42.62%, #012554 100%);">

    <header
        class="max-h-fit shrink-0 flex flex-col sm:flex-row items-center sm:justify-between py-4 sm:py-0 px-1 border-b border-white/20 shadow-md">

        <div class="p-5">
            <a href="{{ path('app_mainpage') }}">
                <img class="min-w-28 max-w-32" src="{{ asset('images/LetsTalkStuff.png') }}" alt="LetsTalkStuff-logo">
            </a>
        </div>

        <div class="pl-5">

            <p class="text-lg">Welcome to </p>
            <h1 class="md:text-4xl text-2xl">Let's TALK👄ABOUT STUFF!!</h1>
            <div class="flex flex-row justify-center h-7 p-2">
                ⚓{% block tagLine %} {% endblock %}⚓
            </div>

        </div>

        <nav class="space-x-4 font-semibold mr-2">
            <ul class="flex flex-row">
                <li class="menu">
                    <a class="rounded-[60px] py-2 px-5 bg-white/10 hover:bg-white/20 hover:text-amber-400 pt-2"
                        href="{{path('app_mainpage')}}" title="Choose a Category">
                        Categories
                    </a>
                    <ul>
                        {% block categoryNav %}
                        {% endblock %}
                    </ul>
                </li>

                <li>
                    <a class="rounded-[60px] py-2 px-5 bg-white/10 hover:bg-white/20 hover:text-amber-400 pt-2"
                        href="{{path('app_aboutpage')}}" title="Home/About">
                        About
                    </a>
                </li>
            </ul>
        </nav>

    </header>

    <main class="h-[calc(100dvh-185px-2.5rem)] h-min-[80vh] bg-cover"
        style="background-image:url('{{ asset('images/stuff1.png') }}');">
        {% block main %}
        {% endblock %}
    </main>


    <footer class="p-5 bg-white/5 mt-1 text-center bottom-0">
        <a class="text-[#0086C4]" href="https://github.com/vrw-GH/MyCarsGoneBad" target="_blank">on GitHub</a>
    </footer>

</body>

</html>